/* general */

html, body {
  margin: 0;
  padding: 0;
}

body, .custom-color-picker {
  font-family: 'Open Sans', sans-serif;
  background-color: #F0F4F9;
}

.custom-color-picker {
    width: 240px;
}

/* text and icons */

.popup-title {
    padding: 12px 16px 12px 16px;
    font-size: 14px;
    font-weight: 500;
}

.popup-clear {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 12px 16px 12px 16px;
    font-size: 12px;
    font-weight: 500;
    color: #db1616;
    cursor: pointer;
}

.popup-clear:hover {
    background-color: #e4e8ec;
}

.popup-clear .material-symbols-outlined {
  font-size: 17px;
  line-height: 1;
}

/* colors */

.color-grid {
    padding: 0 16px 12px 16px;
    border-bottom: 1.5px solid #dce0e6;
    
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.color-option {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
}

.color-option:hover {
    transform: scale(1.15);
    filter: drop-shadow(0px 1.5px 0.05em #c9c9c9);
}

.color-option.add-color {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C4C7C5;
    font-size: 20px;
    font-weight: 500;
    color: #444746;
}

.color-option.add-color i {
  transform: scale(1) !important;
}

/* tooltip (data-title) */

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.1s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: #676666e4;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    padding: 2px 5px 3.5px 5px;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    white-space: nowrap;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}

[data-title] {
    position: relative;
}